<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card"id="askForm">
      <div class="card-header">
        <h3>Home</h3>
      </div>
      
    </div>
  </div>
  <%- include('partials/footer.ejs') %>